# .gitignore

/build_*/
/build-multi-gpu_*/

.cache
*.pyc

/docker/development/Dockerfile.build.py*
/examples/cpp/mnist_collection/train_dcgan_cuda
/examples/cpp/mnist_collection/train_lenet_classifier_cuda
/examples/cpp/mnist_collection/train_resnet_classifier_cuda
/examples/cpp/mnist_collection/train_siamese_cuda
/examples/cpp/mnist_collection/train_vae_cuda
/examples/cpp/mnist_collection/train_vat_cuda
/examples/cpp/mnist_training/mnist_training_cuda
/python/setup.cfg
/python/setup.cfg-Debug
/python/setup.cfg-MinSizeRel
/python/setup.cfg-RelWithDebInfo
/python/setup.cfg-Release
/python/setup.cfg.in.configured
/python/src/nnabla_ext/cuda/_version.py
/python/src/nnabla_ext/cuda/init.cpp
/python/src/nnabla_ext/cuda/libnnabla_cuda.so
/python/src/nnabla_ext/cuda/nnabla_cuda.dll
/python/src/nnabla_ext/cuda/nnabla_cuda.lib
/python/src/nnabla_ext/cudnn/_version.py
/python/src/nnabla_ext/cudnn/init.cpp
/src/nbla/cuda/cudnn/function/*.cu
/src/nbla/cuda/cudnn/init.cpp
/src/nbla/cuda/function/*.cu
/src/nbla/cuda/init.cpp
/src/nbla/cuda/solver/*.cu
/src/nbla/cuda/version.cpp
/third_party/*.zip
/third_party/*/
