# .gitignore

/build_*/

.cache
*.pyc

/docker/development/Dockerfile.build.py*
/python/setup.cfg
/python/setup.cfg-Debug
/python/setup.cfg-MinSizeRel
/python/setup.cfg-RelWithDebInfo
/python/setup.cfg-Release
/python/setup.cfg.in.configured
/python/src/nnabla_ext/cuda/_version.py
/python/src/nnabla_ext/cudnn/_version.py
/python/src/nnabla_ext/cudnn/init.cpp
/python/src/nnabla_ext/cuda/init.cpp
/python/src/nnabla_ext/cuda/libnnabla_cuda.so
/python/src/nnabla_ext/cuda/nnabla_cuda.dll
/python/src/nnabla_ext/cuda/nnabla_cuda.lib
/src/nbla/cuda/function/*.cu
/src/nbla/cuda/cudnn/function/*.cu
/src/nbla/cuda/solver/*.cu
/src/nbla/cuda/cudnn/init.cpp
/src/nbla/cuda/init.cpp
/third_party/*.zip
/third_party/*/
